ion-content{
  --padding-start: 2rem;
  --padding-end: 2rem;

  .header{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;
      margin-top: 3rem;

      h1{
          font-size: 3rem;
          font-weight: 300;
          margin: 0;
      }
      .avatar{
          width: 35px;
          height: 35px;
          border-radius: 50%;
          background-color: #6b45bc;
          display: flex;
          align-items: flex-end;
          justify-content: center;
          overflow: hidden;

          ion-img{
            width: 90%;
            height: 90%;
        }
      }
      
  }
  

  .categorias{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    width: 300px;
  //  height: 80px;

  //  width: 80px;
   // height: 80px;
   // left: 127px;
   // top: 198px;
  }
  .list-header{
    font-weight: 700;
    color:  #515151;
    font-size: 1.8rem;
    margin-bottom: 1.6rem;
    margin-top: 2.5rem;
  }
  .food-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin-top: 300px;
  }
  .titulo-promo{
    position: absolute;
    width: 130px;
    height: 36px;
    left: 35px;
    top: 353px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */

    text-align: center;
  }
  .titulo-pop{
    position: absolute;
      width: 92px;
      height: 36px;
      left: 34px;
      top: 566px;

      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 36px;
      /* identical to box height */

      text-align: center;
  }
  .promocion{
    position: absolute;
    width: 261px;
    height: 152px;
    left: 33px;
    top: 393px;

    background: linear-gradient(114.72deg, #9577F2 34.24%, rgba(160, 133, 247, 0.86) 89.84%);
    border-radius: 20px;

    .img-promo{
      position: absolute;
      width: 129px;
      height: 180px;
      left:   171px;
      bottom: 50px;
    }

    h2{
      position: absolute;
      width: 123px;
      padding-left: 10px;

      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 27px;
      /* identical to box height */

     

      color: #FFFFFF;
    }
    
    h1{
      position: absolute;
      width: 195px;
      height: 70px;
      padding-left: 10px;
      padding-top: 20px;


      font-family: 'Poppins';
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 36px;

      color: #FFFFFF;

    }
    h3{
      position: absolute;
      width: 225px;
      height: 70px;
      padding-top: 90px;
      padding-left: 10px;


      font-family: 'Poppins';
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 36px;

      color: #FFFFFF;
    }
  }
}